@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');


body{
    background-color: rgb(95, 183, 207);
    position: absolute;
    max-width:max-content;

    left: 25%;
}

.heading-main{
    color: rgb(131, 131, 131);
    outline-style: dashed;
    border-radius: 1px;
    
    outline-color: rgb(87, 87, 87);
    outline-offset: 0.2cm;
    
    margin-top: 3cm;

    width: 600px;
    user-select: none;
    cursor: text;

    display: flex; 
    font-family: 'Allerta Stencil', sans-serif;
    

}

.headinghandel{
  display: flex;

}



div.wrapper{
    display: flex;

    margin-top: 3cm;

    user-select: none;
    font-family: 'Allerta Stencil', sans-serif;
}

.div-child {

    flex: 1;
    border: solid black;

    text-align: center;

    border-radius: 6px;

}

.div-child.Left{
    margin-right: 20px;
    
}

.div-child.Center{
    margin-right: 20px;
}




.btn {

    position: relative;
    color: rgb(70 69, 69);
    width: 256px;
    height: 72px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    font-family: 'Bebas Neue', sans-serif;
    line-height: 72px;
 
    border: 2px solid rgba(0, 0, 0, 0.5);
    font-size: 20px;
}
.btn:hover{
  background-color: rgba(85, 85, 85, 0.5);
  color: aliceblue;
}

.btn.btn-humaneye{
  font-size: 19px;
}

.btn.btn-electric{
  font-size: 22px;
}

.content-holder{
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
}
