@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');
@import "compass/css3";


body{
    background-color: #262626;
    font-family: 'Inconsolata', monospace;
    user-select: none;
    overflow:hidden;
}


.heading-title{
    color: rgb(255, 255, 255);
    display: inline;
    padding-left: 40%;
    font-size: 40px;
    text-align: center;

    user-select: none;
    cursor: default;
}


.bywaycup{
    position: absolute;
    color: rgb(255, 255, 255);
    display: inline;
    font-size: 16px;

    padding-left: 10px;
    padding-top: 10px;
    transform: rotate(5deg);
}



.sidenav {
    position: fixed;
    width: 90px;
    height: 15%;
    background-color: #141414;
    font-family: 'Inconsolata', monospace;
    border-radius: 5px;
    display: inline;
    margin-top: 40%;
    margin-left: 2%;

  }
    .header{
    text-align: center;
    color: rgb(255, 255, 255);
    }

  .sidenav .main-buttons {
    list-style-type: none;
    margin: 32px 0;
    padding: 0;
    color: #fff;
  }
  .sidenav .main-buttons li {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Inconsolata', monospace;
  }
  .sidenav .main-buttons > li {
    padding: 16px 52px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .sidenav2{
    position: absolute;
    width: 420px;
    height: 70%;
    margin-top: 3%;
    margin-left: 300px;
    background-color: #141414;
    font-family: 'Inconsolata', monospace;
    border-radius: 5px;
    display: inline;
    overflow-x: hidden;
    overflow-y: scroll;

  }

  .sidenav3{
    position: absolute;
    width: 420px;
    height: 70%;
    margin-top: 3%;
    margin-left: 750px;
    background-color: #141414;
    font-family: 'Inconsolata', monospace;
    border-radius: 5px;
    display: inline;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .sidenav4{
    position: absolute;
    width: 420px;
    height: 70%;
    margin-top: 3%;
    margin-left: 1200px;
    background-color: #141414;
    font-family: 'Inconsolata', monospace;
    border-radius: 5px;
    display: inline;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
  
  }

.socialManager{
  width: 45px;
  height: 45px;
  padding-left: 23px;
  padding-top: 12px;
  padding-bottom: 10px;
}

.Content-Manager{
  text-align: center;
}

.btn{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 95%;
  height: 60px;
  font-size: 18px;
  background-color: #1f1f1f;
  border: 1px solid;
  transition: 0.5s;
  color: aliceblue;
}

.btn:hover{
  cursor: pointer;
  font-size: 18px;
  background-color: antiquewhite;
  color: #141414;
  border: #141414 1px solid;
}

.btn_X{
  margin-top: 10px;
  margin-bottom: 30px;
  width: 95%;
  height: 60px;
  font-size: 18px;
  background-color: #1f1f1f;
  border: 1px solid;
  transition: 0.5s;
  color: aliceblue;
}

.btn_X:hover{
  cursor: pointer;
  font-size: 18px;
  background-color: antiquewhite;
  color: #141414;
  border: #141414 1px solid;
}

::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#fc1a6500,#dfd7da);
  border-radius: 6px;
}
